:root {
  --mainBlack: #333333;
  --mainWhite: #f5f5f5;
  --mainYellow: #ffd166;
  --mainGreen: #06d6a0;
  --mainBlue: #118ab2;
  --darkBlue: #073b4c;
}

.cityInput {
  border: 0.15rem solid var(--mainBlue);
  background: transparent !important;
  font-size: 1.5rem;
  color: var(--mainBlue);
}
input:focus {
  background: transparent !important;
}

.submitBtn {
  background: var(--mainBlue);
  border: 0.15rem solid var(--mainBlue);
  font-family: var(--googlefont3);
  color: var(--tea);
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.7;
}
.submitBtn:hover {
  opacity: 1;
}

/* construction */

.search {
  margin: auto;
  width: 30rem;
  padding: 10px;
  opacity: 0.9;
}

.feedback {
  background: var(--cherry);
  border-radius: 20px;
  margin-bottom: 20px;
  color: var(--candy);
  font-size: 30px;
  font-family: var(--googlefont3);
  letter-spacing: 2px;
  font-weight: 700;
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
}
.feedback {
  display: none;
}

.card {
  box-shadow: 0 10px 15px rgb(0, 0, 0);
  margin: auto;
  width: 25rem;
  border: 1px solid var(--tea);
  border-radius: 30px;
  padding: 10px;
  background: var(--white2);
  opacity: 0.9;
}
.card-title {
  color: var(--mainBlue);
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  font-family: var(--googlefont3);
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submitBtn:hover {
  opacity: 1;
}

.showItem {
  display: block;
}

.start {
  display: none;
}

.aboutme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--googlefont3);
  text-align: center;
  color: var(--candy);
  font-size: 20px;
}
a {
  text-decoration: none;
  color: var(--candy);
  transform: translateX(-90px);
}

.aboutspan {
  font-family: var(--googlefont2);
  text-align: center;
  color: var(--candy);
  font-weight: 700;
  font-size: 20px;
}
